<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
<connectionStrings><add name="WorldSkillsAcademyEntities" connectionString="metadata=res://*/ApplicationData.WorldSkillsAcademyData.csdl|res://*/ApplicationData.WorldSkillsAcademyData.ssdl|res://*/ApplicationData.WorldSkillsAcademyData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=COMP6-A7;initial catalog=WorldSkillsAcademy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>